
<div id="klarna-payments-container"></div>
<input type="hidden" name="authorization_token" id="authorization_token" value="">
<input type="hidden" name="method_name" id="method_name" value="{{ config.gatewayName }}">
